<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3>Daily Sales Report</h3>

    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <button type="button" class="btn btn-primary" id="download-report" onclick="printReport('dailySalesReport.tsv')">Download Report</button>
            <table class="table table-striped" id="invoice-table">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Invoiced_orders_count</th>
                    <th scope="col">Invoiced_items_count</th>
                    <th scope="col">Total_revenue</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Aaina</td>
                    <td>30</td>
                    <td>Edit </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Aisha</td>
                    <td>31</td>
                    <td>Edit</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Anisha </td>
                    <td>7</td>
                    <td>Edit </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/dayOnDaySalesReport.js}"/></script>

</body>

</html>