<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_operator_app_navbar"></nav>

<div class="container">


	<div class="container custom-link mt-5">
		<div class="row d-flex justify-content-between">
			<div class="m-1 text-center">
				<a th:href="@{/ui/brand}" title="Brand">
					<img th:src="@{/static/images/branding.png}" alt="brand" width="150" height="150">
					<br>Brand
				</a>
			</div>
			<div class="m-1 text-center">
				<a th:href="@{/ui/product}" title="Products">
					<img th:src="@{/static/images/product.png}" alt="brand" width="150" height="150">
					<br>Product
				</a>
			</div>
			<div class="m-1 text-center">
				<a th:href="@{/ui/inventory}" title="Inventory">
					<img th:src="@{/static/images/inventory.png}" alt="brand" width="150" height="150">
					<br>Inventory
				</a>
			</div>
			<div class="m-1 text-center">
				<a th:href="@{/ui/order}" title="ViewOrder">
					<img th:src="@{/static/images/order.png}" alt="brand" width="150" height="150">
					<br>Order
				</a>
			</div>
		</div>
	</div>
</div>

<footer th:replace="snippets.html :: name_footer"></footer>


</body>

</html>